<a href="/variants">Variants Index</a>
<a href="/records">Records Index</a>

<h1><%= @record.album %> Variants</h1>

<% @variants.each do |variant| %>
  <p>Color: <%= variant.color %></p>
  <p>Copies: <%= variant.copies %></p>
  <% if variant.serialized == true %>
    <p>Serialized</p>
  <% end %>
<% end %>