<a href="/variants">Variants Index</a>

<h1>Records</h1>
<a href="/records/new">New Record</a>

<% @records.each do |record| %>
  <h3><a href="/records/<%= record.id %>"><%= record.album %></a></h3>
  <p>Artist: <%= record.artist %></p>
  <p>Added: <%= record.created_at %></p>
<% end %>