<a href="/records">Records Index</a>
<a href="/variants">Variants Index</a>

<h1><%= @variant.record.album %></h1>
<p>Color: <%= @variant.color %></p>
<p>Copies: <%= @variant.copies %></p>
<p>Serialized: <%= @variant.serialized %></p>